# Answering Business Questions With SQL

This notebook will go over using the sqlite3 module and some pandas to query a sqlite database to answer some business questions about album sales, purchase behaviors, etc.

In [1]:
import pandas as pd
import sqlite3

## Helper Functions

Let's start off by making the following helper functions:

run_query(): takes a SQL query as an argument and returns a pandas dataframe of that query.

In [2]:
def run_query(query):
    with sqlite3.connect("chinook.db") as conn:
        return pd.read_sql(query, conn)

run_command(): takes a SQL command as an argument and executes it using the sqlite module.

In [3]:
def run_command(query):
    with sqlite3.connect("chinook.db") as conn:
        conn.isolation_level = None
        conn.execute(query)

show_tables(): calls the run_query() function to return a list of all tables and views in the database.

In [4]:
def show_tables():
    query = """
        SELECT
            name,
            type
        FROM sqlite_master
        WHERE type IN ("table","view");
    """
    return run_query(query)

Now, let's run the show_tables() function.

In [5]:
show_tables()

              name   type
0            album  table
1           artist  table
2         customer  table
3         employee  table
4            genre  table
5          invoice  table
6     invoice_line  table
7       media_type  table
8         playlist  table
9   playlist_track  table
10           track  table